@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/*font-family: 'Bungee Shade', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

/*font-family: 'Mr Dafoe', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/*font-family: 'Bangers', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*font-family: 'Lobster', cursive;*/

body {
    width: 100;
    height: fill;
    background: linear-gradient( to right, rgb(0, 0, 150) 0%, rgb(0, 0, 150) 50%, #FFFDD0 50%, #FFFDD0 100%);
}

#hot {
    margin-left: 30%;
    font-family: 'Bungee Shade', cursive;
    color: rgb(255, 0, 0);
}

#or {
    text-align: center;
    font-family: 'Mr Dafoe', cursive;
    color: grey;
}

#not {
    margin-left: 55%;
    font-family: 'Bangers', cursive;
    color: rgb(0, 166, 255);
}

#OHMS {
    text-align: center;
    color: grey;
    font-family: 'Lobster', cursive;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
}

#rightBtn {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_corazón.svg/800px-Heart_corazón.svg.png") no-repeat center;
    background-size: contain;
    width: 150px;
    height: 150px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#leftBtn {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_corazón.svg/800px-Heart_corazón.svg.png") no-repeat center;
    background-size: contain;
    width: 150px;
    height: 150px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.container div {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    #hot{
        margin-left: 35%;
    }
    
}