@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
/*font-family: 'Bungee Shade', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
/*font-family: 'Mr Dafoe', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/*font-family: 'Bangers', cursive;*/

body {
    background-color: rgba(163, 163, 255, 0.743);
    
}

#hot {
    margin-left: 31%;
    font-family: 'Bungee Shade', cursive;
}

#or{
    text-align: center;
    font-family: 'Mr Dafoe', cursive;
}

#not {
    margin-left: 64%;
    font-family: 'Bangers', cursive;
}
#OHMS{
    text-align: center;

}


.container {
    display: flex;
}
